<h1>出品商品一覧</h1>

<!--
<li><a href="/items/<%= @items[0].id %>"><%= @items[0].name %></li>
<li><a href="/items/<%= @items[1].id %>"><%= @items[1].name %></li>
<li><a href="/items/<%= @items[2].id %>"><%= @items[2].name %></li>
-->

<% @items.each do |item| %>
<li><a href="/items/<%= item.id %>"><%= item.name %></li>
<% end %>

<%#= link_to '新規商品登録', '/items/new' %>

<%= link_to '新規商品登録', '/items/new' %>
